.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .loader-message {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 8vmin;
        h1 {
            text-align: center;
            color: white;
            font-size: 5vmin;
        }
        .loader-spinner {
            color: white;
        }
        h1,.loader-spinner {
            margin: 0 0.5em;
        }
    }

}

@media only screen and (max-width: 600px) {
    .loader {
        .loader-message {
            font-size: 12vmin;
            h1 {
                font-size: 9vmin;
            }
        }
    }
}