header {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    .top-container {
        width: 100%;
        height: 162px;
        background-image: url('/assets/logo_4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    &>*{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    header {
        .top-container {
            height: 95px;
        }
    }
}

.menu-button {
    display: none;
    width: fit-content;
    // width: 50px;
    // height: 50px;
    // background: red;
    font-weight: 600 !important;
    cursor: pointer;
    margin-left: 10px;

    position: relative;

    .center {
        top: 0;
        left: 0;
        // transform: translate(-50%, -50%);
        // position: absolute;
        width: 50px;
      }
      
      .center:before,
      .center:after,
      .center div {
        background: black;
        content: "";
        display: block;
        height: 6px;
        border-radius: 2px;
        margin: 7px 0;
        transition: 0.5s;
      }
      .active:before {
        transform: translateY(12px) rotate(135deg);
      }
      .active:after {
        transform: translateY(-12px) rotate(-135deg);
      }
      .active div {
        transform: scale(0);
      }
}
.menu-sticky {
    position: fixed;
    top: -12px;
    left: -12px;
    // top: -89px;
    // left: -89px;
    z-index: 50;
    margin: 0;
    background: white;
    font-size: 2rem !important;

    border-radius: 50% 0% 5% 0%;
    // padding: 100px 30px 30px 100px !important;
    padding: 18px 10px 10px 18px !important;
    box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.3);
    opacity: .9;
}

.content {
    width: 70%;
    margin: 0px auto; /* 80px */
    padding: 80px 0px;
    // margin-top: 80px;

    h2 {
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-size: 13pt;
        font-weight: 200;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        width: 95%;
        margin-top: 0px;
        padding: 40px 0px;
    }
}

.navio-banner {
    width: 100%;
    height: 455px;
    // background-image: url('');

    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: left;

    position: relative;

    .navio-banner-cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.35);
    }
}

@media only screen and (max-width: 600px) {
    .navio-banner {
        // height: 300px;
        height: 200px;
    }
}

.especialidades {
    width: 100%;
    height: 455px;
    background-image: url('/assets/banner_02.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;

    position: relative;

    .especialidades-cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.85);

        .content-title-white {
            margin: 90px 0px;
        }

        .especialidades-grid {
            // background: red;
            display: flex;
            flex-direction: row;

            justify-content: center;

            width: 100%;
            // height: 300px;

            &>div {
                margin: 0 24px;
                padding: 15px 0px;
                outline: white solid 2px;
                border-radius: 2px;
                color: white;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 350px;

                .image-part {
                    background: rgb(224, 224, 224);
                    border-radius: 50%;

                    // width: 85px;
                    // height: 85px;

                    padding: 20px;
                    position: relative;
                    box-shadow: 0px 5px 6px -2px rgba(255, 255, 255, 0.3);

                    .image-part-cover {
                        position: absolute;

                        width: 85px;
                        height: 85px;

                        // background-image: url('');
                        // background-image: url('/assets/svg/brasil.svg');

                        background-repeat: no-repeat;
                        background-size: contain;
                        // background-position: center;

                        position: relative;
                    }
                }

                h2 {
                    // margin-top: 50px;
                    // font-weight: 400;
                    // font-size: 15pt;
                    font-size: 15.5pt;
                    margin: 18px 25px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px),
(hover: none) and (pointer: coarse) and (orientation: landscape) {
    .especialidades {

        height: 890px;
        padding: 80px 0px;

        .especialidades-cover {

            .content-title-white {}

            .especialidades-grid {
                flex-wrap: wrap;

                &>div {
                    margin: 15px 0px;
                    padding: 20px 0px;
                    width: 280px;

                    .image-part {

                        padding: 10px;

                        .image-part-cover {
                            width: 70px;
                            height: 70px;
                        }
                    }

                    h2 {
                        // margin-top: 18px;
                        // font-size: 15.5pt;
                        font-size: 15.5pt;
                        margin: 18px 18px;
                    }
                }
            }
        }
    }
}


.empresa {
    .empresa-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // align-items: center;

        div {
            max-width: 520px;

            p {}
        }
    }
}

@media only screen and (max-width: 600px) {
    .empresa {
        .empresa-container {
            div:not(:first-child) {
                margin-top: 50px;
            }
        }
    }
}

.content-title {
    position: relative;
    margin-bottom: 45px;

    h1,
    h2,
    h3 {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
    }

    ::after {
        position: absolute;
        content: '';
        background: black;
        height: 2px;
        bottom: -8px;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        border-radius: 50%;
    }
}

.content-title-white {
    position: relative;

    h1,
    h2,
    h3 {
        text-align: center;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
    }

    ::after {
        position: absolute;
        content: '';
        background: white;
        height: 2px;
        bottom: -8px;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        border-radius: 50%;
    }
}

.clientes {
    background-image: url('/assets/map-animation.gif');
    background-position: center;
    // background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat-x;
    margin-top: 0;
    width: 100%;
    padding: 120px 0;
}

@media only screen and (max-width: 600px) {
    .clientes {
        background-size: 300%;
    }
}

.atividades {
    .atividades-align {
        width: 90%;

        display: flex;
        flex-direction: column;
        // background: red;
        margin: 0 auto;
        max-width: 1232px;

        .ambiente-grid {
            display: flex;
            justify-content: space-between;

            // justify-content: center;
            div {
                width: 309px;
                height: 163px;
                margin: 5px;
                // background-image: url('');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        .atividades-content ::ng-deep {
            ul {
                padding: 20px;
                padding-left: 30px;
                // list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    // padding: 0px 4em;
                    // text-transform: uppercase;
                    // font-weight: bold;
                    // white-space: nowrap;
                    font-size: 13pt;
                    font-weight: 200;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px),
(hover: none) and (pointer: coarse) and (orientation: landscape) {
    .atividades {
        width: 100%;

        .atividades-align {
            width: 100%;

            .ambiente-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                div {
                    width: 50%;
                    height: 99px;
                    margin: 4px 0px;
                    padding: 0px;
                }
            }
        }
    }
}

.contato {
    .equipe-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .equipe-card {
            width: 280px;
            height: 390px;
            // background: red;
            margin: 15px 45px;

            display: flex;
            flex-direction: column;

            position: relative;

            box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.198);

            transition: transform 0.5s;

            // &:hover {
            //     cursor: pointer;
            //     // transform: scale(1.05);
            // }

            .equipe-header {
                background: black;
                width: 100%;
                height: 230px;
                flex: none;


                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;

                &:hover {
                    cursor: pointer;
                    // transform: scale(1.05);
                }
            }

            .equipe-footer {

                flex-grow: 1;
                background: white;

                padding: 20px 5px;

                h3 {
                    text-align: center;
                    margin: 0;
                    font-size: 12pt;
                    margin-bottom: 4px;
                    position: relative;
                    font-weight: 400;
                    
                    &::after{
                        content: "";
                        position: absolute;
                        width: 5rem;
                        height: 1px;
                        margin: 0 auto;
                        background: black;
                        right: 0;
                        left: 0;
                        top: 1.3rem;
                        opacity: 0.3;
                    }
                }

                h2 {
                    text-align: center;
                    margin: 0;
                    font-size: 10pt;
                    margin-bottom: 25px;
                    font-weight: 100;
                }

                p {
                    text-align: center;
                    margin: 0;
                    margin-top: 2px;
                    font-weight: 200;
                }
            }
        }
    }
    .contato-bottom {
        margin-top: 90px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .contato-info,.contato-form {
            width: 40%;
            padding: 0px 22px;
            margin: 50px 0px;
        }

        .contato-info {
            width: max-content;
            img {
                width: 204px;
                height: 227px;
                margin-bottom: 60px;
            }
            h3 {
                margin-bottom: 20px;
            }
            p {
                text-align: left;
            }
            &>* {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .contato {
        .equipe-grid {
            .equipe-card {
                margin: 15px 0px;
            }
        }
        .contato-bottom {
            flex-direction: column;

            .contato-info,.contato-form {
                width: 100%;
                padding: 0px 0px;
            }

            .contato-form {
                
            }

            .contato-info {
                width: 100%;
                img {
                    width: 244px;
                    height: 267px;
                    margin-bottom: 100px;
                }
                &>* {
                    display: block;
                    margin: 0 auto;
                }
            }
            
        }
    }
}

footer {
    background: black;

    .footer-content {
        margin-bottom: 0;
        padding: 20px 0px;

        p {
            margin: 0;
            padding: 0;

            color: white;
            font-weight: 500;
            font-size: 12pt;
            text-transform: uppercase;
            white-space: nowrap;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.scroll-to-top {
    position: unset;
    display: none;
    z-index: 10;
    bottom: 15px;
    right: 15px;

    opacity: .8;
    background: rgb(12, 12, 12);
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
    padding: 18px;
    margin: 0;

    width: 38px;
    height: 38px;
    
    border-radius: 50%;

    display: flex;

    transition: transform 0.5s;

    &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .scroll-to-top-image {
        margin: 0;
        padding: 0;

        width: 100%;
        height: 100%;

        background-image: url('/assets/svg/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

}
.scroll-to-top-show {
    position: fixed;
    display: initial;
}

@media only screen and (max-width: 600px) {
    .scroll-to-top {
        width: 28px;
        height: 28px;
        padding: 12px;
    }
}

.change-locale {
    position: unset;
    display: none;
    z-index: 10;
    bottom: 15px;
    left: 15px;

    opacity: 1;
    background: rgb(245, 245, 245);
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
    padding: 12px;
    margin: 0;

    width: 48px;
    height: 48px;
    
    border-radius: 50%;

    display: flex;

    transition: transform 0.5s;

    &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .change-locale-image {
        margin: 0;
        padding: 0;

        width: 100%;
        height: 100%;

        // background-image: url('/assets/svg/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

}

.change-locale-show {
    position: fixed;
    display: initial;
}


@media only screen and (max-width: 600px) {
    .change-locale {
        width: 28px;
        height: 28px;
        padding: 12px;
    }
}