<header>
    <div class="top-container">
    </div>

    <div class="header" id="header" #header [class.sticky]="isSticky">
        <nav>
            <ul>
                <li><a>Inicio</a></li>
                <li><a href="#">A Empresa</a></li>
                <li><a href="#">Nossas Atividades</a></li>
                <li><a href="#">Nossos Clientes</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="navio-banner" [class.sticky-space]="isSticky" style="background-image: url('/assets/banner_01.png');">
    <div class="navio-banner-cover"></div>
</div>
<div id="empresa" class="empresa content">
    <div class="empresa-container">
        <div>
            <div class="content-title">
                <h3>A EMPRESA</h3>
            </div>
            <p>
                O CENTRO MÉDICO NAVEGANTES DO BRASIL LTDA presta serviço Médico e Odontológico no mais alto patamar de qualidade, sendo no Rio de Janeiro, referência em atendimento de Urgência e Emergência à Marinha Mercante no Brasil.
                Nossa equipe de profissionais altamente qualificados, bilíngues e reconhecidos internacionalmente, prestam de forma ininterrupta atendimento Médico e Odontológico de excelência para empresas de seguro, navegação de cabotagem e de longo curso e famílias expatriadas. 
            </p>
        </div>
        <div>
            <div class="content-title">
                <h3>NOSSA MISSÃO</h3>
            </div>
            <p>
                Prestar atendimento Médico e Odontológico no mais alto grau de qualidade para casos de urgência/emergência aos envolvidos direta ou indiretamente nas diversas etapas da navegação de cabotagem e de longo curso. Atendimento a qualquer tempo e com resposta imediata, sendo nosso apoio prestado por todas as especialidades médicas e odontológicas em seu mais alto padrão.
            </p>
        </div>
    </div>
</div>
<div id="atividades" class="atividades content">
    <div class="content-title">
        <h2>Nossas Atividades</h2>
    </div>
    <div class="atividades-align">
        <div class="ambiente-grid">
            <div style="background-image: url('/assets/ambiente/escritorio_1.png');"></div>
            <div style="background-image: url('/assets/ambiente/escritorio_2.png');"></div>
            <div style="background-image: url('/assets/ambiente/escritorio_3.png');"></div>
            <div style="background-image: url('/assets/ambiente/escritorio_4.png');"></div>
        </div>
        <div class="atividades-content">
            <ul>
                <li>Atendimento Médico e Odontológico Ambulatorial , de Urgência e Emergência com profissionais bilíngues, especializados em diversas áreas.</li>
                <li>Exames laboratoriais com resultados em até 48h, exceto em casos especiais de dosagem</li>
                <li>Tratamento especializado para grandes queimados.</li>
                <li>UTI móvel própria para resgate e transferência de pacientes.</li>
                <li>Escolta Médica: acompanhamento de médico e enfermeiro a pacientes estáveis durante translado.</li>
                <li>Cotamos e fornecemos produtos no mercado local para garantir suprimentos para a enfermaria da embarcação.</li>
                <li>Renovação dos certificados de produtos médicos na embarcação (Medical Chest Certificate).</li>
                <li>Realização de certificados médicos anual e bianual para diversas bandeiras (Malásia, Bahamas, IMO etc).</li>
            </ul>
        </div>
    </div>
</div>
<div id="clientes" class="clientes content">
    <div class="content-title">
        <h2>Nossos Clientes</h2>
    </div>
    <app-clientes-grid></app-clientes-grid>
    
</div>
<div id="contato" class="contato content">
    <div class="content-title">
        <h2>Contato</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora architecto quos accusantium reprehenderit ex,
        necessitatibus rerum aut asperiores quisquam magni neque dicta amet nulla quaerat illum. Ut quo cum ab.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora architecto quos accusantium reprehenderit ex,
        necessitatibus rerum aut asperiores quisquam magni neque dicta amet nulla quaerat illum. Ut quo cum ab.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora architecto quos accusantium reprehenderit ex,
        necessitatibus rerum aut asperiores quisquam magni neque dicta amet nulla quaerat illum. Ut quo cum ab.</p>
</div>